<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>persona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h1>Escriba un Nombre</h1>

    <div class="flex">
      <div><input type="text" id="name" class="form-control"></div>
      <div><button id="pre" class="btn primary">Predecir</button></div>
    </div>


    <div><h3 id="mostar"> MASCULINO</h3></div>


  </div>
</ion-content>
